.overlay {
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(173, 216, 230, 0.503);
  position: relative;
  border-radius: 10px;
}

.login-form {
  position: relative;
  width: 250px;
  height: 100%;
  animation: fadeIn 0.3s ease;
  align-items: stretch;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: rgba(253, 50, 15, 0.656);
  font-size: 20px;
  cursor: pointer;
}

.login-form input {
  width: 230px;
  height: 30px;
  padding: 1px;
  margin-bottom: 12px;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.login-form p{
    margin: 0px;
    display: flex;
    padding : 2px;
    justify-content: left;
}

.login-form input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}


.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #0d6efd;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #0b5ed7;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}