#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(169, 209, 244, 0.444);
  border-radius: 25px;
  box-shadow: 5px 5px 5px 1px lightblue;
}

#root:hover{
  transform: translate(5px);
  transform: scale(1.1)
}

img{
  width: 250px;
  height: 200px;
  border-radius: 5%;
}

button{
  background-color: white;
}

